body {
    color: #2e4234;
    background-color: rgba(18, 92, 18, 0.034);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0; /*selain luo automaattisesti pienen marginaalin*/
}

header{
    text-align: center;
    padding-top: 30px;
}

/*fontit*/

h1 {
    font-family:"times serif";
    font-size: 50px;
    color: #2e4234;
    text-align: center;
    padding-top: 30px;
}
h2, h3 {
    font-family:"times serif";
}


/*päävalikko*/
nav a {
    background: #2e4234;
    font-family:"times serif";
    color:whitesmoke;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #2e4234;
}
nav a:hover {
    color: #2e4234;
    background-color: whitesmoke;
}

.toimintakehote {
    border: 3px solid #2e4234;
    border-radius: 30px;
    background-color: whitesmoke;
    font-family: otsikko, "times serif";
    color: #2e4234;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

/*kuvat*/

.kuva {
    max-width: 400px;
    vertical-align: middle;
    width: 100%;
}
.click-img {
    height: 90%;
}
/*pääsivun sisällön asettelu*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

th{
    padding-right: 100px;
}

/*alatunniste, joka sivulla sama*/
footer{
    font-family: otsikko, "sans serif";
    font-size: 18px;
    color:#2e4234;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*some ikonit*/
.fa {
    padding: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #2e4234;
    color:white;

}
.fa:hover {
    opacity: 06;
}

/*tablettikoko*/
/*nämä voimassa kun ruutu on pieni (alle 600px)*/
@media screen and (min-width: 600px) {
    #etusivu {
        background-image: url("BGlaukku.jpg");
        background-size: cover;
        height: 600px;
    }
    
    nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin:3px 5px;
    }
    #slogan {
        font-size: 40px;
        padding-top: 100px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .toimintakehote {
        font-size: 20px;
    }
    .sisalto {
        margin: 3% 10% 3% 10%;
    }
    .alisivu-sisalto {
        margin: 3% 10% 3% 10%;
        flex-direction: column;
    }
    h1 {
        font-size: 30px;
    }
    h2{
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }  

    footer{
        flex-direction: column;
        text-align: center;
    }
}

/*mobiilikoko*/
@media (max-width: 600px) {
    #etusivu {
        background-image: url(BGlaukku.jpg);
        background-size: cover;
        height: 400px;
    }
    
    nav a { 
        font-size: 15px;
        width: 100px;
        height: 20px;
        padding: 7px;
        margin:3px 5px;
    }
    #slogan {
        font-size: 30px;
        padding: 20px;
    }
    .toimintakehote {
        font-size: 18px;
    }
    .sisalto {
        margin: 3% 10% 3% 10%;
    }
    .alisivu-sisalto {
        margin: 3% 10% 3% 10%;
        flex-direction: column;
    }
    h1 {
        font-size: 25px;
    }
    h2{
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
   
    }
    footer{
        flex-direction: column;
        text-align: center;
    }

    /*suuri näyttö*/
@media screen and (min-width: 1200px) {
    #etusivu {
        background-image: url("BGlaukku.jpg");
        background-size: cover;
        height: 950px;
    }
    nav a { 
        font-size: 20px;
        width: 130px;
        height: 25px;
        padding: 10px;
        margin:5px 20px;
    }
    
    #slogan {
        font-size: 65px;
        padding-top: 150px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }
    .toimintakehote {
        font-size: 30px;
    }
    
    h1 {
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    h3 {
        font-size: 25px;
    }
    
    footer{
        flex-direction: row;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}
